<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>React</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div id="content"></div>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bundle.js"></script>
</body>
</html>