<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>VocaVocani</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div id="content"></div>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bundle.js"></script>
</body>
</html>